*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.container{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

/*----------------- struttura -----------------*/

.side-bar{
    width: 200px;
    height: 100%;
    color: #888;
}

.main{
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(40, 46, 66);
}

.upgrade{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.705);
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
    width: calc(100% - 200px)
}

footer{
    width: 100%;
    height: 100px;
    background-color: green;
    display: flex;
    z-index: 100;
}

/*------------------------ particolari --------------------*/

/* sidebar */
.logo{
    height: 100px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.logo-big{
    height: 50px;
    width: 140px;
    background: url("../img/logo.svg") no-repeat;
}

.menù{
    height: 100px;
}

.icon-row{
    width: 100%;
    margin: 5px 0;
}

.border-row{
    border-left: 5px chartreuse solid;
}

.icon{
    height: 30px;
    width: 30px;
    position: relative;
}

.home-photo{
    background: url("../img/home.svg");
    margin-left: 15px;
    color: white;
}

.search{
    background: url("../img/search.svg");
    margin-left: 20px;
}

.libreria{
    background: url("../img/libreria.svg");
    margin-left: 20px;
}

h5{
    width: 100px;
    position: absolute;
    left: 35px;
    top: 8px;
}

.playlist{
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.fa-plus-square{
    font-size: 35px;
}

.lista > h3 {
    color: white;
    margin: 20px 0 10px 0;
}

.lista{
    height: calc(100% - 100px);
}

.space-top{
    margin-top: 15px;
}

ul > li{
    list-style: none;
    padding: 7px 0;
    font-size: 14px;   
}

.download{
    height: 100px;
    margin: 0 30px 10px 0;
    justify-content: flex-end;
}

.scarica{
    background: url("../img/download.svg");
}

hr {
    margin: 15px 0;   
}

.profile{
    background: url("../img/profile.svg");
    color: white;
    font-size: 17px;
}

.icon-border{
    border-radius: 50%;
    background-color: #888;
}



/* main */

.botton{
    margin-right: 25px;
    padding: 10px 30px;
    border: 2px white solid;
    border-radius: 25px;
}

.nav-main{
    width: 100%;
    height: 50px;
    margin-top: 120px;
    background-color: rgb(40, 46, 66);
    text-align: center;
    vertical-align: middle;
    color: #888;
}

.nav-main > ul li{
    display: inline-block;
    padding: 0 10px;
}

.border-bottom{
    border-bottom: 3px chartreuse solid;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.album{
    float: left;
    width: 200px;
    height: 280px;
    margin: 20px 10px 80px 10px;
    text-align: center;
}

.copertina{
    width: 200px;
    height: 200px;
}

.foto-copertina-1{
    background: url("../img/metal_lifting.jpg");
    background-size: contain;
}

.foto-copertina-2{
    background: url("../img/stranger.jpeg");
    background-size: contain;
}

.foto-copertina-3{
    background: url("../img/aquietplace.jpeg");
    background-size: contain;
}

.foto-copertina-4{
    background: url("../img/split.jpeg");
    background-size: contain;
}

.foto-copertina-5{
    background: url("../img/cure.jpeg");
    background-size: contain;
}

.foto-copertina-6{
    background: url("../img/sinister.jpeg");
    background-size: contain;
}

.foto-copertina-7{
    background: url("../img/radar.jpeg");
    background-size: contain;
}

.foto-copertina-8{
    background: url("../img/mixdaily.jpeg");
    background-size: contain;
}

.foto-copertina-9{
    background: url("../img/youg.jpeg");
    background-size: contain;
}

.foto-copertina-10{
    background: url("../img/einaudi.jpeg");
    background-size: contain;
}

.titolo-space{
    margin: 10px 0;
}

h4{
    color: #888;
}

.left-space{ 
    margin-left: 10px;
}

.left-space > h4{
    margin: 10px 0;
}


/* footer */

.nav{
    height: 100%;
}

.nav-left, .nav-right{
    width: 200px;
    max-width: calc(100%/3);
    background-color: #333;
}

.nav-center{
    width: calc(100% - 500px);
    flex-grow: 1;
    background-color: #333;
}

.mini-player{
    width: 100%;
    padding: 25px 10px;
}

.brano{
    background: url("../img/sinister.jpeg") no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: relative;
}

.dettagli-brano{
    position: absolute;
    left: 25px;
    top: 5px;
}

h6{
    position: absolute;
    width: 70px;
    left: 35px;
    top: 25px;
    color: #888;
}

.fa-heart{
    position: absolute;
    left: 120px;
    top: 15px;
    color: #888;

}

.fa-folder{
    position: absolute;
    left: 148px;
    top: 15px;
    color: #888;
}